<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title th:insert="::title">CHL - Authentification centralisée</title>

    <link rel="stylesheet" th:href="@{${#themes.code('standard.custom.css.file')}}" />

    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon"/>

    <script th:inline="javascript">
        /*<![CDATA[*/
        
        var trackGeoLocation = /*[[${trackGeoLocation}]]*/ === "true";
        
        /*]]>*/
    </script>
</head>
