<header>
    <a id="logo" href="https://ch-poitiers.fr/" th:title="#{logo.title}">CHL</a>
    <h1><span class="sansvert">CENTRE HOSPITALIER</span><br /><span class="serifbleu" style="font-size: 153%">Henri Laborit</span></h1>
</header>
