<!DOCTYPE html>
<html layout:decorator="layout">

<head th:inline="text">
<title th:text="#{screen.spengo.title}"></title>
</head>

<body id="cas">
	<div layout:fragment="content">
		<div class="alert alert-danger">
			<h2 th:utext="#{screen.spnego.err.header}" />
			<p th:utext="#{screen.spnego.err.message}" />
		</div>
	</div>
</body>
</html>
