<!DOCTYPE html>
<html layout:decorator="layout">

<head th:inline="text">
    <title th:text="#{cas.mfa.yubikey.pagetitle}"></title>

</head>

<body id="cas">
<div layout:fragment="content">
    <div class="box fl-panel" id="login">

        <form method="post" id="yubiKeyForm" class="fm-v clearfix" th:object="${credential}">
            <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                <span th:each="err : ${#fields.errors('*')}" th:utext="${err}"/>
            </div>

            <div class="row fl-controls-left">
                <label for="password" class="fl-label" th:utext="#{screen.welcome.label.yubiotp}"/>

                <input type="text" class="required" id="token" size="25" tabindex="1"
                       th:field="*{token}"
                       th:accesskey="#{screen.welcome.label.yubiotp.accesskey}" autocomplete="off" autofocus="autofocus" />
                <input class="btn btn-submit" name="_eventId_submit" accesskey="l"
                       th:value="#{screen.welcome.button.yubiotp}" tabindex="4" type="submit"/>
            </div>
            <div class="row btn-row">
                <input type="hidden" name="execution" th:value="${flowExecutionKey}"/>
            </div>
        </form>
    </div>
</div>
</body>
</html>