<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">CAS &#8211; Central Authentication Service</title>

    <link type="text/css" rel="stylesheet" href="//services.ch-poitiers.fr/assets/libs/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{${#themes.code('standard.custom.css.file')}}"/>

    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon"/>

    <script type="text/javascript" src="//services.ch-poitiers.fr/assets/libs/zxcvbn/4.3.0/zxcvbn.js"></script>
    <script type="text/javascript" src="//services.ch-poitiers.fr/assets/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="//services.ch-poitiers.fr/assets/libs/jquery-ui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="//services.ch-poitiers.fr/assets/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="//www.google.com/recaptcha/api.js" th:if="${recaptchaSiteKey}"></script>
    <script type="text/javascript" src="//services.ch-poitiers.fr/assets/libs/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var trackGeoLocation = /*[[${trackGeoLocation}]]*/ === "true";
        /*]]>*/
    </script>
</head>

<body>
<div id="container" class="container">
    <div th:replace="fragments/logo"/>
    <div layout:fragment="content" id="content">
        <h1/>
        <p/>
    </div>
    <div th:replace="fragments/footer"/>
</div>
<div th:insert="fragments/bottom"/>

</body>
</html>
